.logoImageView{
    -fx-border-radius: 80;
}

.Button{
    -fx-background-color:#204080ff;
    -fx-border-radius: 10px;
    -fx-text-fill: white;
}

.Button:hover{
        -fx-background-color: #3060c0;
        -fx-cursor: hand;
        -fx-background-insets:0 ;
}

.scroll-bar {
    -fx-background-color: transparent;
    -fx-padding: 0 10px 0 0;
}


.scroll-bar:vertical > .track,
.scroll-bar:horizontal > .track {
    -fx-background-color: #f0f0f0;
    -fx-background-insets: 0;
    -fx-background-radius: 5px;
}


.scroll-bar:vertical > .thumb,
.scroll-bar:horizontal > .thumb {
    -fx-background-color: #204080;
    -fx-background-insets: 0;
    -fx-background-radius: 5px;
}

.scroll-bar:vertical > .thumb:hover,
.scroll-bar:horizontal > .thumb:hover {
    -fx-background-color: #3060c0;
}

.scroll-bar .increment-button,
.scroll-bar .decrement-button {
    -fx-padding: 0;
    -fx-background-color: transparent;
}
.scroll-bar .increment-arrow,
.scroll-bar .decrement-arrow {
    -fx-shape: " ";
}

.link-label {
    -fx-cursor: hand;
    -fx-text-fill: #204080;
}

.link-label:hover {
    -fx-underline: true;
}


.table-view {
    .table-container {
        border-radius: 10px 10px 0 0;
        overflow: hidden;
        border: 1px solid #0056b3;
    }


    .table-header {
        background-color: #204080;
        color: white;
        padding: 10px;
        font-weight: bold;
        text-align: center;
        border-radius: 10px 10px 10px 10px;
    }


    .table-content {
        padding: 20px;
        text-align: center;
        background-color: #f8f9fa;
        color: #6c757d;
    }
}